.root {
    -fx-background-color: #74000B;
}

.button {
    -fx-border-color: #8B0000;
    -fx-text-fill: #8B0000;
    -fx-border-width: 2px;
    -fx-padding: 8px 12px;
}

.button:hover {
    -fx-background-color: #D3D3D3; /* Change background color on hover */
    -fx-text-fill: #8B0000; /* Change text color on hover */
}

#signinWelcome {
    -fx-text-fill: #fff;
}

#signinText {
    -fx-text-fill: #fff;
}